body {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif; 
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif; 
}

p , button, a {
  font-family: "Archivo Narrow", sans-serif; 
}
