body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: "Archivo Narrow", sans-serif; 
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif; 
}

p , button, a {
  font-family: "Archivo Narrow", sans-serif; 
=======
  font-family: sans-serif;
  font-size:12px;
>>>>>>> 2f00dabfc4b10d77fe79046fde9d73901c0fafc3
}
